{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel = "stylesheet" type = "text/css" href = "{% static 'app/style.css' %}">
    <title> Django project demo </title>
</head>
<body>

    {% block content %}

    {% endblock %}

</body>
</html>